body {
  background-image: linear-gradient(
    to right,
    rgb(160, 231, 160),
    rgb(136, 136, 235),
    rgb(184, 111, 236),
    rgb(238, 176, 238)
  );
}

table {
  margin: 0 auto;
}

.button {
  margin: 20px auto 5px auto;
  background-color: #2f4f4f;
  color: #2acaea;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  font-size: 20px;
  font-weight: bold;
}

.button:hover {
  background-color: #2acaea;
  color: #2f4f4f;
  transition: 0.5s;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
}

.btn {
  width: 48px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  line-height: 20px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

.button2 {
  background-color: #2f4f4f;
  color: #2acaea;
}

.button1 {
  background: #2acaea;
  color: #2f4f4f;
}
